@model IEnumerable<Testimonial>

@foreach (var test in Model.Take(1))
{
    <div class="testimonial-owl owl-theme owl-carousel">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <div class="single-testimonial">
                <div class="testimonial-info">
                    <div class="testimonial-img">
                        <img src="~/img/testimonial/@test.ImageURL" alt="testimonial">
                    </div>
                    <div class="testimonial-content">
                        <p>@test.Desc</p>
                        <h4>@test.Name</h4>
                        <h5>@test.Position</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
}

