@model Testimonial

<div class="testimonial-owl owl-theme owl-carousel">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
        <div class="single-testimonial">
            <div class="testimonial-info">
                <div class="testimonial-img">
                    <img src="~/img/testimonial/@Model.ImageURL" alt="testimonial">
                </div>
                <div class="testimonial-content">
                    <p>@Model.Desc</p>
                    <h4>@Model.Name</h4>
                    <h5>@Model.Position</h5>
                </div>
            </div>
        </div>
    </div>
</div>
}

